@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
    font-family: 'Montserrat';
    font-size: 14px;
}

#create {
    border-color: #7a6595;
    background-color: hsl(266, 19%, 49%);
    color: white;
}
#create:hover{
    background-color: white;
    color: #7a6595;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: linear-gradient(91.7deg, #32194f -4.3%, #7a6595 101.8%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    top:20px;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 75px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    margin-left: 0px;
    text-decoration: none;
    font-size: 22px;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li.active,
.sidebar-nav li.focus {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: solid 4px #fff; }

.dot{
    margin-left: 14px;
    width:10px;
    height:10px;
    background: #D1D6E6;
    border-radius:7px;
  }
  
  .line{
    margin-left: 19.3px;
    height:50px;
    width:2px;
    background: #D1D6E6;
  }
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
